<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        PrometheusToken
      </h1>
      <h2 class="title">
        You have
        <span class="is-medium has-underline">{{balance}}</span> Promis
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title">Fetch Data</h1>
  <h1 class="title is-4 is-info help">{{status}}</h1>

  <form #coinForm="ngForm">
    <div class="field">
      <label class="label">Address</label>
      <p class="control">
        <input [(ngModel)]="carAddress" class="input" type="text" placeholder="95" name="carAddress" required #carAddressModel="ngModel">
      </p>
      <div *ngIf="carAddressModel.errors && (carAddressModel.dirty || carAddressModel.touched)" class="help is-danger">
        <p [hidden]="!carAddressModel.errors.required">
          This field is required
        </p>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button [disabled]="!coinForm.valid" (click)="getDataSets()" class="button is-primary">
          Send
        </button>
      </p>
    </div>
  </form>
  <table>
    <tr>
      <th>ID</th>
      <th>KM</th>
      <th>Battery Level</th>
      <th>GPS</th>
    </tr>
    <tr *ngFor="let dataset of datasets; let i = index">
      <td>{{i}}</td>
      <td>{{dataset[0]}}</td>
      <td>{{dataset[1]}}</td>
      <td>{{dataset[2]}}</td>
    </tr>

  </table>
  <strong>Hint:</strong> open the browser developer console to view any errors and warnings.



</div>