<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Prometheus Token
      </h1>
      <h2 class="title">
        You have
        <span class="is-medium has-underline">{{balance}}</span> Audi Coins
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title">Shared Data from your Audi</h1>
  <h1 class="title is-4 is-info help">{{status}}</h1>

  <form #coinForm="ngForm">
    <div class="field">
      <label class="label">Please provide your Wallet Address</label>
      <p class="control">
        <input [(ngModel)]="carAddress" class="input" type="text" placeholder="95" name="carAddress" required #carAddressModel="ngModel">
      </p>
      <div *ngIf="carAddressModel.errors && (carAddressModel.dirty || carAddressModel.touched)" class="help is-danger">
        <p [hidden]="!carAddressModel.errors.required">
          This field is required
        </p>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button [disabled]="!coinForm.valid" (click)="getDataSets()" class="button is-primary">
          Analyze
        </button>
      </p>
    </div>
  </form>
  <p>
      <br>
  </p>
  <table>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>GPS</th>
      <th>Tripduration</th>
      <th>KM</th>
      <th>Vehicle Speed</th>
      <th>Passengers</th>
      <th>Acceleration</th>
      <th>Engine Load</th>
      <th>Battery Level</th>
      <th>Autonomous Driving</th>
      <th>Aircondition Status</th>
    </tr>
    <tr *ngFor="let dataset of datasets; let i = index">
      <td>{{i}}</td>
      <td>{{dataset[0]}}</td>
      <td>{{dataset[1]}}</td>
      <td>{{dataset[2]}}</td>
      <td>{{dataset[3]}}</td>
      <td>{{dataset[4]}}</td>
      <td>{{dataset[5]}}</td>
      <td>{{dataset[6]}}</td>
      <td>{{dataset[7]}}</td>
      <td>{{dataset[8]}}</td>
      <td>{{dataset[9]}}</td>
      <td>{{dataset[10]}}</td>
    </tr>

  </table>
  <p>
      <br>
  </p>
  <p>
      <br>
  </p>
</div>
